{% extends 'layout.html' %}
{% block content %}
<div id="indexBody">
    {% if searchString %}
    <h2> {{searchString}} Result </h2>
    {% else %}
    <form class = "searchBox" method = "post" action = "/home/search">
        <div id = "radioBox">
            <div>
                <input type="radio" id="Writer" name="searchKeyword" value="Writer" checked>
                <label for="Writer">Writer</label>
            </div>  
            <div>
                <input type="radio" id="Text" name="searchKeyword" value="Text">
                <label for="Text">Text</label>
            </div>     
            <div>
                <input type="radio" id="HashTag" name="searchKeyword" value="HashTag">
                <label for="HashTag">HashTag</label>
            </div>
        </div>
        <div>
            <input type="text" id="searchString" name = "searchString" placeholder="검색어를 입력하세요" />
        </div>
        <div>
            <button id="serchBtn" type="submit" >Search</button>
        </div>
    </form>
    {% endif %}
    <div class="main_list">
		<div class="list_start">
            {% for post in posts %}
                <div class="list_detail_main">
                    <div>
                        <img class = "postImg" src = "{{post.img1}}">
                    </div>
                        <a href = "/home/writerSearch/{{post.writerid}}"  style ="font-weight: bold; font-size:15px;">{{post.writerid}} </a>  
                    <div>
                        {{post.createdAt}}
                    </div> 
                    {% for tag in post.hashtags %}
                    <a href = "/home/hashtagSearch/{{tag.title}}" style ="font-weight: bold; font-size:15px;">#{{tag.title}} </a>  
                    {% endfor %}             
                    <div>
                        {{post.content}}
                    </div>
                    {% if post.writerid == user.uid %}
                    <button id="" type="submit"  onclick="location.href='/post/editpage/{{post.id}}'" >Edit</button>
                    {% endif %}
                </div>
            {% endfor %}
		</div>
    </div>
	<!-- 하단 리스트 번호 -->
	<div class="paging_start">
        <div>
            {% for page in pagenum %}
                <a href = "/home/{{page}}">{{page}} </a>
            {% endfor %}
	    </div>
</div>
{% endblock %}