<!doctype HTML>
<HTML>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/frame.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>
<body>
  <p id ="title">Junic World<a href="index.html"></a></p>
  {% if user and where === 'profile'%}
        <div id="upperBar">
          <div class ="menu">
            <div id ="clicked"> <a href="/profile">Profile</a></div>
            <div ><a href="/new">New</a></div>
            <div ><a href="/home/1">Home</a></div>
            <div ><a href="/follow">Follow</a></div>
            <div ><a href="/msg">Messages</a></div>
          </div>
        </div>
  {% elif user and where === 'new' %}
      <div id="upperBar">
        <div class ="menu">
          <div> <a  href="/profile">Profile</a></div>
          <div id ="clicked" ><a href="/new">New</a></div>
          <div><a href="/home/1">Home</a></div>         
          <div ><a href="/follow">Follow</a></div>
          <div ><a href="/msg">Messages</a></div>
        </div>
      </div>
  {% elif user and where === 'home' %}
      <div id="upperBar">
        <div class ="menu">
          <div> <a  href="/profile">Profile</a></div>
          <div ><a href="/new">New</a></div>
          <div id ="clicked"><a href="/home/1">Home</a></div>         
          <div ><a href="/follow">Follow</a></div>
          <div ><a href="/msg">Messages</a></div>
        </div>
      </div>
  {% elif user and where === 'follow' %}
      <div id="upperBar">
        <div class ="menu">
          <div> <a  href="/profile">Profile</a></div>
          <div ><a href="/new">New</a></div>
          <div><a href="/home/1">Home</a></div>         
          <div  id ="clicked"><a href="/follow">Follow</a></div>
          <div ><a href="/msg">Messages</a></div>
        </div>
      </div>
  {% elif user and where === 'msg' %}
      <div id="upperBar">
        <div class ="menu">
          <div> <a  href="/profile">Profile</a></div>
          <div> <a href="/new">New</a></div>
          <div> <a href="/home/1">Home</a></div>         
          <div> <a href="/follow">Follow</a></div>
          <div id ="clicked"><a href="/msg">Messages</a></div>
        </div>
      </div>
  {% endif %}
  {% block content %}
  {% endblock %}
  {% if user %}
  <div id= "last_2">
    <div style="text-align:left">Made by Junic</div> 
    <div style="text-align:center" id ="clicked" ><a  href="/auth/logout">Log Out</a></div> 
    <div style="text-align:right">contact : ata97@naver.com</div>
  </div>
  {% else %}
  <div id= "last">
    <div style="text-align:left">Made by Junic</div> 
    <div style="text-align:right">contact : ata97@naver.com</div>
  </div>
  {% endif %}
  {% block script %}
  {% endblock %}
  <script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('loginError')) {
        alert(new URL(location.href).searchParams.get('loginError'));
      }
      getTime();
     init();
    };
  </script>
</body>
</HTML>
