{% extends 'layout.html' %}
{% block content %}
<div id="indexBody">
    <p style="margin-top:5px;">
      <img src = "images/person_sample.png" width="200dp" height="200dp">
    </p>
    <p  style="font-size: 35px">
     {{user.name}}'s Profile <br>
    </p>
      <div class = "pbox">
        Your Id : {{user.uid}}
      </div>
      <div id = "last"> 
        <div class = "pbox">
        Your Followers : {{followerCount}} 
      </div>
      <div class="pbox">
        Your Following : {{followingCount}}
      </div>
    </div>
    <div class = "timeBox"> 
    <div id= "time"></div>
    <div id = "date"></div>
  </div>
</div>
{% endblock %}
{% block script %}
  <script> 
    function getTime(){
      const time = new Date();
      const hour = time.getHours();
      const minutes = time.getMinutes();
      const seconds = time.getSeconds();
      const year = time.getFullYear();
      const month = time.getMonth()+1; //monthIndex를 반환해주기 때문에 1을 더해준다.
      const date = time.getDate();
      //clock.innerHTML = hour +":" + minutes + ":"+seconds;
     document.getElementById("time").innerHTML = `${hour<10 ? `0${hour}`:hour}:${minutes<10 ? `0${minutes}`:minutes}:${seconds<10 ? `0${seconds}`:seconds}`
     document.getElementById("date").innerHTML = year + "년 " + month + "월 " + date + "일";
    }
  function init(){
      setInterval(getTime, 1000);
  } window.onload = () => {
    getTime();
    init();
  };
  </script>
    {% endblock %}